<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Petros Laskas" />
    <meta
      name="description"
      content="The Inclusive Tourism website aims to give an overview about the Inclusive Tourism Service Erasmus+ education and training project"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="..\styles\style.css" />
    <link rel="stylesheet" href="..\styles\navbar-footer.css" />
    <link rel="stylesheet" href="..\styles\fadeIn.css" />
    <script src="..\scripts\main.js" defer></script>
    <script src="..\scripts\navbar.js" defer></script>
    <title>Inclusive Tourism Service</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">Inclusive Tourism Service</div>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <div class="navbar">
          <a href="..\index.html">Home</a>
          <a href="objectives.html" class="active">Objectives</a>
          <a href="activities.html">Activities</a>
          <a href="outputs.html">Outputs</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="wrapper">
        <img
          src="../images/objectives-page.jpg"
          alt="wheelchair at the beach"
        />
      </div>

      <article class="objectives">
        <section class="small-header"><span>Objectives</span></section>
        <section>
          <span class="article-title">People development</span>
          <p class="article-text">
            Aiming to develop the skills and competencies of tourism managers
            and employees by providing them with a new training method on how to
            deal with customers with special needs on a global scale.
          </p>
        </section>
        <section>
          <span class="article-title">Course Enhancement</span>
          <p class="article-text fade-in-text">
            To improve the contain of the training courses by adding a new
            chapter regarding how to deal with clients with special needs
          </p>
        </section>
        <section>
          <span class="article-title">Promote inclusion</span>
          <p class="article-text">
            To promote social inclusion of people with special needs by offering
            them qualified services
          </p>
        </section>
        <section>
          <span class="article-title">Overcome discrimination</span>
          <p class="article-text">
            To combat discrimination by training other people how to deal with
            people with special needs
          </p>
        </section>
        <section>
          <span class="article-title">Unity</span>
          <p class="article-text">
            To develop partnerships on the local, national and international
            level between VET providers and actors on the labour market.
          </p>
        </section>
      </article>
    </main>
    <footer>
      <div class="footerContainerImg">
        <img src="..\images\EU-flag-Erasmus-_vect_POS.jpg" alt="Erasmus Logo" />
      </div>
      <div class="footer-text">
        <strong>
          Erasmus+ Programme, Key Action 2 – Strategic Partnership </strong
        ><br />
        <span class="inclusive-tourism">“INCLUSIVE TOURISM SERVICE”</span>
        <br />
        <strong> Project Nr: </strong>
        <br />
        <span class="inclusive-tourism">2019-1-RO01-KA202-063844</span>
      </div>
    </footer>
  </body>
</html>
