<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Petros Laskas" />
    <meta
      name="description"
      content="The Inclusive Tourism website aims to give an overview about the Inclusive Tourism Service Erasmus+ education and training project"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="..\styles\style.css" />
    <link rel="stylesheet" href="..\styles\navbar-footer.css" />
    <link rel="stylesheet" href="..\styles\fadeIn.css" />
    <script src="..\scripts\main.js" defer></script>
    <script src="..\scripts\navbar.js" defer></script>
    <title>Inclusive Tourism Service</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">Inclusive Tourism Service</div>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <div class="navbar">
          <a href="..\index.html">Home</a>
          <a href="objectives.html">Objectives</a>
          <a href="activities.html">Activities</a>
          <a href="outputs.html" class="active">Outputs</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="wrapper">
        <img src="../images/outputs-page.jpg" alt="wheelchair at the beach" />
      </div>
      <article>
        <section class="small-header">
          <div class="page-title">Outputs</div>
        </section>
        <section>
          <span class="article-title"
            >O1. Improved training course in Domain of Tourism
          </span>
          <ul class="fade-in-text">
            <li>
              <p class="article-text">
                Create a new chapter regarding how to deal with clients with
                special needs
              </p>
            </li>
            <li>
              <p class="article-text">
                Consult organizations active in socio-economic sector and the
                domain of tourism
              </p>
            </li>
            <li>
              <p class="article-text">
                Experienced and skilled people in the domain of tourism will
                produce a guidance to feed the training course
              </p>
            </li>
            <li>
              <p class="article-text">
                The output will be evaluated within organizations and businesses
                that operate in the tourism sector
              </p>
            </li>
          </ul>
        </section>
        <section>
          <span class="article-title"
            >O2. Instruction Guide for Hotel Employees
          </span>
          <ul class="fade-in-text">
            <li>
              <p class="article-text">
                Trained and experienced managers will work together with the
                project's team on the creation of the guide after attending the
                short-term training
              </p>
            </li>
            <li>
              <p class="article-text">
                With the help of this created output the managers will be able
                to train their own staff and offering qualified services to
                those with special needs
              </p>
            </li>
            <li>
              <p class="article-text">
                Implementation of the guidance will take place in real
                workspaces for testing and evaluation
              </p>
            </li>
            <li>
              <p class="article-text">
                The final output will be produced based on corrections after the
                feedback process
              </p>
            </li>
          </ul>
        </section>
        <section>
          <span class="article-title"
            >O3. Online Diary of those who participated at the training
          </span>
          <ul class="fade-in-text">
            <li>
              <p class="article-text">
                Our goal is to make the learning activity as much accessible as
                possible
              </p>
            </li>
            <li>
              <p class="article-text">
                After attending the short-term training the participants will
                share their experiences online promoting social inclusion of
                people with special needs
              </p>
            </li>
          </ul>
        </section>
      </article>
    </main>
    <footer>
      <div class="footerContainerImg">
        <img src="..\images\EU-flag-Erasmus-_vect_POS.jpg" alt="Erasmus Logo" />
      </div>
      <div class="footer-text">
        <strong>
          Erasmus+ Programme, Key Action 2 – Strategic Partnership </strong
        ><br />
        <span class="inclusive-tourism">“INCLUSIVE TOURISM SERVICE”</span>
        <br />
        <strong> Project Nr: </strong>
        <br />
        <span class="inclusive-tourism">2019-1-RO01-KA202-063844</span>
      </div>
    </footer>
  </body>
</html>
