<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Petros Laskas" />
    <meta
      name="description"
      content="The Inclusive Tourism website aims to give an overview about the Inclusive Tourism Service Erasmus+ education and training project"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="..\styles\style.css" />
    <link rel="stylesheet" href="..\styles\navbar-footer.css" />
    <script src="..\scripts\main.js" defer></script>
    <script src="..\scripts\navbar.js" defer></script>
    <title>Inclusive Tourism Service</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">Inclusive Tourism Service</div>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <div class="navbar">
          <a href="..\index.html">Home</a>
          <a href="objectives.html">Objectives</a>
          <a href="activities.html">Activities</a>
          <a href="outputs.html" class="active">Outputs</a>
        </div>
      </nav>
    </header>
    <main>
      <article>
        <section class="small-header"><span>Outputs</span></section>
        <section>
          <span class="article-title"
            >O1. Improved training course in Domain of Tourism
          </span>
          <p class="article-text">
<ul><li>One new chapter regarding how to deal with clients with special needs</li><li>consult the organizations active in socio-economic sector in domain of tourism</li>
<li>trained staff will produce the new chapter</li>
<li>the output will be evaluated within the organizations active in socio-economic sector in domain of tourism
</li>
</ul>
          </p>
        </section>
      </article>
    </main>
    <footer>
      <div class="footerContainerImg">
        <img src="..\images\EU-flag-Erasmus-_vect_POS.jpg" alt="Erasmus Logo" />
      </div>
      <div class="footer-text">
        <strong>
          Erasmus+ Programme, Key Action 2 – Strategic Partnership </strong
        ><br />
        <span class="inclusive-tourism">“INCLUSIVE TOURISM SERVICE”</span>
        <br />
        <strong> Project Nr: </strong>
        <br />
        <span class="inclusive-tourism">2019-1-RO01-KA202-063844</span>
      </div>
    </footer>
  </body>
</html>
